/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Start CSS*/

@font-face {
  font-family: 'Superspitze Grotesk';
  src: url('./font/SuperspitzeGrotesk-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('./font/SuperspitzeGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/SuperspitzeGrotesk-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('./font/SuperspitzeGrotesk-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/SuperspitzeGrotesk-SemiBold.svg#e00e7a6d2841f025d96010a5cd455804') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

body {
    font-family: 'Superspitze Grotesk';
}

.header {
  position: fixed;
  width: 100vw;
  background-color: white;
  color: black;
  height: 10vh;
  font-size: 100%;
  z-index: 10;
}


/*height: 8vh;*/
hr {
  margin: 0 2vw;
}

#outerHeaderDiv{
  width: 100vw;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 100%;
}

#innerHeaderDiv {
  width: 96vw;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;  
  font-size: 6.5vw;
}

.projectDescriptionContainer {
  display: flex;
  display: -webkit-flex;
  font-family: 'Superspitze Grotesk';
  font-size: 18px;
  word-wrap: break-word;
  overflow-x: hidden;
  align-items : flex-start;
  justify-content : center;
  -webkit-align-items : flex-start;
  -webkit-justify-content : center;
  margin: 2.5vh 0;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.projectTitles {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
  margin: 2.5vh 0;
}

.rectContainer {
  display: flex;
  display: -webkit-flex;
  margin: 2.5vh 0;
}

.header .item {
  color : black;
  text-decoration: none;
}

.header .item:hover {
  color : black;
  text-decoration: underline;
  cursor: pointer;
}

.logoEdit {
  height : 30px;
}

.header .item img {
  height: 12vw;
  position: relative;
}

.header .item .logo {
  height: 3vw;
  position: relative;
}

.prevImg {
  z-index: 0;
  height: 100%;
  width: 100%;
}

img.item {

}

.nextImg {
  z-index: 0;
  height: 100%;
  width: 100%;
}


.square{
  border: black;
  height: 20vh;
  border-style: solid;
  border-color: black black;
  width: 35vw;
  cursor: pointer;
}

.line{
  border: black;
  height: 10vh;
  border-style: solid;
  border-color: white white black white;
  width: 21vw;
}



@media (min-width: 310px) {



}

.pageContent {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  z-index: 0;
  width: 100%;
  padding-top: 10vh;
  width: 96vw;
  margin: 0 auto;
}

.header .item:hover {
  color : black;
  text-decoration: underline;
  cursor: pointer;
}

.containerWork {
  margin: 10vh 7vw;
  overflow-x: scroll;
  white-space: nowrap;
}

.containerWork .itemWork {
  color: black;
  text-decoration: none;
  font-size: 5vh;
  padding-left: 5vw;
}

.containerWork .itemWork:hover {
  color : black;
  text-decoration: underline;
}

.containerWork .itemWork:focus {
  color : black;
  text-decoration: underline;
  outline: none;
}

.workImg {
  width: 85vw;
  margin: 0 10vh 10vh 10vh;
}

.imgContainer {
  display: flex;
  display: -webkit-flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content : center; 
  -webkit-justify-content : center;
}

.imgContainerLanding {
  display: flex;
  display: -webkit-flex;
  justify-content : center;
  -webkit-justify-content : center;
  flex-direction : column;
  -webkit-flex-direction : column;
  margin-left: 30px;
  margin-right: 30px;
}

.landingPageContainer {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: center;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: column;
  -webkit-align-self: center;
  height: 85vh;
}
.imgLanding {
  max-width: 100%;
}

.imgContainer:hover {
  cursor:pointer;
}

.overLay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  width: 405px;
  height: 270px;
  left: 100px;
  top: 45px;
  opacity: 0;
  font-family: 'Superspitze Grotesk';
  font-size: 30px;
}

.overLayContainer:hover .overLay {
  opacity: 0.9;
  transition: opacity .5s cubic-bezier(0,1,1,.93);
  -moz-transition: opacity .5s cubic-bezier(0,1,1,.93);
  -webkit-transition: opacity .5s cubic-bezier(0,1,1,.93);
}

.overLayContainer {
  position: relative;
}

.projectImgContainer {
  display : flex;
  display: -webkit-flex;
  justify-content : center;
  align-items : center; 
  flex-direction : column;
  -webkit-justify-content : center;
  -webkit-align-items : center; 
  -webkit-flex-direction : column;
}

.projectImg {
  width : 100%;
  max-width: 1600px;
  cursor: pointer;
}

.projectImg:hover {
  cursor:pointer;
}

.projectTitleTextContainer {
  display: flex;
  display: -webkit-flex;
  font-family: 'Superspitze Grotesk';
  margin: 4vh;
  font-size: 5vh;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.pointer {
  cursor: pointer;
}

.projectDescription {
  word-wrap: break-word;
  overflow-x: hidden;
  width : 100%;
  max-width: 100%;
  white-space: pre-wrap;
}

.inputProjectDescriptionEdit {
  width: 1200px;
  font-family: 'Superspitze Grotesk';
  height: 250px;
  font-size: 18px;
}




text {
  cursor:pointer;
}

.svgLine {
  flex-grow: 1;
  stroke:#231420;
  stroke-width:2px;
  width: 120;
  height: 120; 
}

.aboutDescriptionContainer {
/*  display: flex;
  display: -webkit-flex;*/
  font-family: 'Superspitze Grotesk';
  font-size: 24px;
  margin-left: 30px;
  margin-right :30px;
  margin-top : 15px;
/*  word-wrap: break-word;
  align-items : flex-start;
  justify-content : center;
  -webkit-align-items : flex-start;
  -webkit-justify-content : center;*/

}

.aboutTitles {
  display:flex;
  display: -webkit-flex;  
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 30px 0px;
  font-size: 36px;
  color: black;
  width: 100%;
}

.aboutDescription {
  width : 100%;
  font-size: 30px;
}

.aboutCredits {
  display: flex;
  display: -webkit-flex;  
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.aboutCredits > div { 
  margin: auto;
}

.inputAboutDescriptionEdit {
  width : 1200px;
  height: 500px
}


.inputTitleEdit {
  height: 99px;
  font-size: 72px;
  text-align: center;
  width : 80%;
  font-family: 'Superspitze Grotesk';
}

.submitContainer {
  display: flex;
  display: -webkit-flex;
  align-items : center;
  justify-content: center;
  flex-direction: column;
  -webkit-align-items : center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}

.inputTitleEditBtn {
  background-color: white;
  font-family: 'Superspitze Grotesk';
  color: black;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  font-size: 10vw;
}

.inputTitleEditBtn:hover {
  background: #CF4647;
  cursor: pointer;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.inputTitleEditBtn:focus {
  outline: none;
}




.orderRank {
  font-size: 94px;
}

.contactTextArea{
  width: 100%;
  height: 500px;
  white-space: pre-wrap;
}

.contactText {
  font-family: 'Superspitze Grotesk';
  font-size: 42px;
  white-space: pre-wrap;
  margin-top : 75px;
}

.toast {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

#toast-container {
  display: block
  display: -webkit-flex;;
  position: fixed;
  z-index: 10000; }
  @media only screen and (max-width : 600px) {
    #toast-container {
      min-width: 100%;
      bottom: 0%; } }
  @media only screen and (min-width : 601px) and (max-width : 992px) {
    #toast-container {
      min-width: 30%;
      left: 5%;
      bottom: 7%; } }
  @media only screen and (min-width : 993px) {
    #toast-container {
      min-width: 8%;
      top: 10%;
      right: 7%; } }

.toast {
  border-radius: 2px;
  top: 0;
  clear: both;
  margin-top: 10px;
  position: relative;
  height: 80px;
  line-height: 48px;
  background-color: #323232;
  padding: 0 25px;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Superspitze Grotesk';
  color: #fff;
  display: -webk
  display: -webkit-flex;it-box;
  display: -moz-
  display: -webkit-flex;box;
  display: -ms-f
  display: -webkit-flex;lexbox;
  display: -webk
  display: -webkit-flex;it-flex;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .toast .btn, .toast .btn-large, .toast .btn-flat {
    margin: 0;
    margin-left: 3rem; }
  .toast.rounded {
    border-radius: 24px; }
  @media only screen and (max-width : 600px) {
    .toast {
      width: 100%;
      border-radius: 0; } }
  @media only screen and (min-width : 601px) and (max-width : 992px) {
    .toast {
      float: left; } }
  @media only screen and (min-width : 993px) {
    .toast {
      float: right; } }